<div class="login-container">
  <p-card class="login-card">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-title">Agendado</div>
      <div class="helper-text">Introduce tus credenciales para acceder</div>
      
      <div class="field">
        <label for="email">Correo electrónico</label>
        <input
          id="email"
          type="email"
          pInputText
          formControlName="email"
          placeholder="Introduce tu correo"
          autocomplete="email"
          autofocus
          aria-describedby="email-error"
        />
        <small
          *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
          id="email-error"
          class="p-error"
        >
          Correo no válido
        </small>
      </div>

      <div class="field">
        <label for="password">Contraseña</label>
        <input
          id="password"
          type="password"
          pPassword
          formControlName="password"
          placeholder="Introduce tu contraseña"
          [feedback]="false"
          autocomplete="current-password"
          aria-describedby="password-error"
        />
        <small
          *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
          id="password-error"
          class="p-error"
        >
          Contraseña obligatoria
        </small>
      </div>


      <div class="field">
        <button
          type="submit"
          pButton
          label="Entrar"
          [disabled]="loginForm.invalid || loading"
          [loading]="loading"
        ></button>
      </div>
      <div *ngIf="errorMsg" class="p-error" style="text-align:center; margin-top: 1rem;">
        {{ errorMsg }}
      </div>

      <div class="register-link">
        <p>¿No tienes cuenta? <a routerLink="/register">Regístrate</a></p>
      </div>

    </form>
  </p-card>
</div>
