<div class="login-container">
  <p-card class="login-card">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-title">Agendado</div>
      <div class="helper-text">Introduce your credentials</div>
      
      <div class="field">
        <label for="email">Email</label>
        <input
          id="email"
          type="email"
          pInputText
          formControlName="email"
          placeholder="Introduce your mail"
          autocomplete="email"
          autofocus
          aria-describedby="email-error"
        />
        <small
          *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
          id="email-error"
          class="p-error"
        >
          Email not valid
        </small>
      </div>

      <div class="field">
        <label for="password">Password</label>
        <input
          id="password"
          type="password"
          pPassword
          formControlName="password"
          placeholder="Introduce your password"
          [feedback]="false"
          autocomplete="current-password"
          aria-describedby="password-error"
        />
        <small
          *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
          id="password-error"
          class="p-error"
        >
          Password required
        </small>
      </div>


      <div class="field">
        <button
          type="submit"
          pButton
          label="Login"
          [disabled]="loginForm.invalid || loading"
          [loading]="loading"
        ></button>
      </div>
      <div *ngIf="errorMsg" class="p-error" style="text-align:center; margin-top: 1rem;">
        {{ errorMsg }}
      </div>

      <div class="register-link">
        <p>¿No account? <a routerLink="/register">Register</a></p>
      </div>

    </form>
  </p-card>
</div>
